#启用白名单
/*

#同步业务模块
!/app

##同步工程配置信息
!.gitignore
!build.gradle
!settings.gradle
!depend.gradle
!gradle.properties

#忽略工程管理文件
**/.idea/*
**/.gradle/*
**/build/*
**/gradle/*
**/gradlew
**/gradlew.bat
**/local.properties
*.iml

#忽略工程输出文件
**/obj/*
**/.externalNativeBuild/*
*.apk